.bakgrund{
    background-image: url(Bilder/FF-Heavensward-Ishgard.jpg)
}

.A{
    font-family: Papyrus ;
    font-size: 45px;
    color: cornsilk;
    position: absolute;
    float: left;
    top: 110px;
    left: 100px;
    border-style: double;
    border-color: white;
    background-color: black;
    border-radius: 30px;
}
.B{
    font-family: Calibri;
    font-size: 30px;
    color: white;
    position: absolute;
    float: left;
    left: 100px;
    top: 300px;
    border-style: double;
    border-color: white;
    background-color: black;
    border-radius: 30px;
    width: 400px;
}